body { font-family: Bradley Hand; color: #000000; background-color: #FBFF00; font-size: 30;}

h1 { font-family: Bradley Hand; color: #6C00FF; }

p {font-family: Bradley Hand; color: #6C00FF; font-size: 25;}